<div class='jumbotron' ng-app='category'>
  <header>
    <h1>Post Overflow: Learning how to use services</h1>
  </header>

  <section ng-controller='QuestionsController'>
    Display the list of questions
    <ul>
      <li ng-repeat='question in questionData.questions'></li>
      <!-- ng-repeat iteration -->
    </ul>
  </section>
</div>
