<div class="jumbotron" ng-app ng-init="first_string,second_string">
  <header>
    <h1>Exercise1: You will be practising two way data binding here.</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>Problem: Create a Form that takes two strings and concatenates those two and outputs the result</h3>
    </div>

    <div class="form-group row">
      <div class="col-xs-6">
        <label for="first_string">First Name</label>
        <input type="text" class="form-control" id="first_string" ng-model="first_string">
      </div>

      <div class="col-xs-6">
        <label for="second_string">Last Name</label>
        <input type="text" class="form-control" id="second_string" ng-model="second_string">
      </div>
    </div>

    <h3>Name Parsed for {{first_string}}</h3>
    <p>
      For forms: {{second_string}}, {{first_string}}
    </p>
    <p>
      For reading: {{first_string}} {{second_string}}
    </p>
  </div>
</div>
