<div class="jumbotron">
  <header>
    <h1>Exercise2: You will be practising creating modules and controllers</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>Convert the solution from Exercise 1 to a more modular code</h3>
      <ul>
        <li>create a file named student.js in the public/assets/js folder</li>
        <li>create a module named 'hello'</li>
        <li>add a controllers constructor function named 'StringGameController' to the module using the controller() method</li>
        <li>Write the relevant code in the StringGameController to perform the concatenation and adjust the view accordingly</li>
        <li>include the student.js file in exercise_2.html.erb</li> 
      </ul>
    </div>
  </div>
</div>