<div class="jumbotron">
  <header>
    <h1>Exercise2: You will be practising creating modules and controllers</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>In module_practice.html.erb update the code such that the Alternate calculator can be hidden and shown as well</h3>   
    </div>
  </div>
</div>