<div class="jumbotron">
  <header>
    <h1>Exercise4: You will be practising all you have learnt in Services and you will be using $http and $location service</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>In questions/index.html.erb Update the html code to list all the questions</h3><h3>You will have to send a json request to the server endpoint /questions.json</h3>
      <h3>Create a QuestionsService named by questions_service.js and place it in public/assets/js</h3>
      <h3>Create a question.js file and add the controllers constructor function</h3>
      <h3>Include the QuestionsService in the file where you code the QuestionsController</h3>
      <h3>You can look at the output of your code <%= link_to 'here', questions_path %></h2>
      <h3>  
    </div>
  </div>
</div>