<div class="jumbotron">
  <header>
    <h1>Exercise1: You will be practising two way data binding here.</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>Problem: Create a Form that takes two strings and concatenates those two and outputs the result</h3>
    </div>
  </div>
</div>