<div class="jumbotron">
  <header>
    <h1>Welcome To Angular Workshop</h1>
  </header>
  <div class="row">
    <h2>You have the following exercises to Finish before wrapping up today</h2>
  </div>
  <h2><%= link_to 'Exercise 1', welcome_exercise_1_path %></h2>
  <h2><%= link_to 'Exercise 2', welcome_exercise_2_path %></h2>
</div>