<div class="jumbotron" ng-app="workshop">
  <header>
    <h1>Modules, Controllers, Directives</h1>
  </header>
  <h2>A basic calculator</h2>
  <div class="main-container" ng-controller="CalculatorController">
    <div class="form-group row">
      <div class="col-xs-6">
        <label for="firstNumber">First Number</label>
        <input type="number" class="form-control" id="firstNumber" ng-model="firstNumber">
      </div>

      <div class="col-xs-6">
        <label for="secondNumber">Second Number</label>
        <input type="number" class="form-control" id="secondNumber" ng-model="secondNumber">
      </div>
    </div>
    
    <h3>Calculator Operations</h3>
    <div class="row">
      <p>Adding {{firstNumber}} with {{secondNumber}} results in {{add()}}</p>
    </div>

    <div class="row">
      <p>Subtracting {{firstNumber}} with {{secondNumber}} results in {{subtract()}}</p>
    </div>

    <div class="row">
      <p>Multiplying {{firstNumber}} with {{secondNumber}} results in {{multiply()}}</p>
    </div>

    <div class="row">
      <p>Dividing {{firstNumber}} with {{secondNumber}} results in {{divide()}}</p>
    </div>

    <div class="row">
      <p>Modulo Operation of {{firstNumber}} with {{secondNumber}} results in {{modulo()}}</p>
    </div>
  </div>  
</div>