<div class="jumbotron" ng-app="category">
  <header>
    <h1>Post Overflow: Learning Angular</h1>
  </header>
  <section ng-controller='CategoryController'>
    Display the list of Categories
    <ul>
      <li ng-repeat="cat in categoryData.cats">{{cat.name}}</li>
    </ul>
  </section>
</div>
