<form>
  <div class="form-group row">
    <div class="col-xs-6">

      <label for="name">Category Name</label>
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Create</button>
</form>