<!DOCTYPE html>
<html>
<head>
  <title>PostOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="/assets/js/angular-1.25.js"></script>
<script type="text/javascript" src="/assets/js/angular-route-1.25.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/my_first_service.js"></script>
<script type="text/javascript" src="/assets/js/using_services.js"></script>
<script type="text/javascript" src="/assets/js/category.js"></script>
<script type="text/javascript" src="/assets/js/category_service.js"></script>
</body>
</html>
